## 数据处理

In [43]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [34]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.head(5)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X37,X38,X39,X40,X41,X42,X43,X44,X45,y
0,3.8,141,104,4.9,6.0,65,5.6,6.07,7.94,6.5,...,330,12.6,236,9.4,0.22,16.1,21.5,NaN,NaN,0
1,3.7,142,107,5.0,6.0,80,6.1,6.56,8.63,38.6,...,333,12.1,165,12.2,0.20,16.7,41.2,0.0,0.0,0
2,4.6,147,106,4.8,6.0,64,7.1,1.19,7.94,6.9,...,328,12.5,183,8.8,0.16,15.8,27.4,0.0,0.0,0
3,3.5,147,107,5.2,6.0,56,3.6,1.43,4.97,9.7,...,328,12.7,191,10.2,0.19,11.2,26.2,NaN,NaN,0
4,4.3,139,105,5.7,6.0,55,4.2,2.10,4.04,10.0,...,321,12.0,215,10.8,0.23,12.9,31.3,1.0,1.0,1

In [35]:
# 分离自变量与目标变量
X_train = df_train.drop(columns='y')
y_train = df_train['y']

X_test = df_test

In [36]:
# X44 和 X45 存在空白值，使用KNN进行插值，注意只能插入0或1
imputer = KNNImputer(n_neighbors=5)

X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.fit_transform(X_test)

# KNN 插值不一定为0或1（取的是平均值），手动调整为0或1
for i in range(len(X_train_imputed)):
    X44 = X_train_imputed[i, -2]
    X45 = X_train_imputed[i, -1]
    if X44 <= 0.5:
        X44 = 0
    else:
        X44 = 1

    if X45 <= 0.5:
        X45 = 0
    else:
        X45 = 1

for i in range(len(X_test_imputed)):
    X44 = X_test_imputed[i, -2]
    X45 = X_test_imputed[i, -1]
    if X44 <= 0.5:
        X44 = 0
    else:
        X44 = 1

    if X45 <= 0.5:
        X45 = 0
    else:
        X45 = 1

In [ ]:
# 对分类变量进行独热编码，对数值型变量进行标准化
scaler = StandardScaler()
X_train_imputed_scaled = scaler.fit_transform(X_train_imputed)
X_test_imputed_scaled = scaler.transform(X_test_imputed)

## 画图，描述性统计

In [38]:
# # 对每个组合中的自变量分布作图，观察自变量间关系
# feature_columns = [col for col in X_train.columns if col.startswith('X')]
# # print(feature_columns)
# feature_dict = {}

# for i in range(0, len(feature_columns), 5):
#     key = f"X{i+1} to X{i+6}"
#     feature_dict[key] = feature_columns[i:i+5]
#     feature_dict[key].append('y')
#     g = sns.pairplot(df_train[feature_dict[key]], hue='y')
#     g.fig.suptitle(key)
#     plt.show()
# # sns.pairplot(df_train[], hue='y')
# # plt.show()

In [39]:
# # 选取两个自变量，作图并观察其间关系
# # length = len(feature_columns)
# length = 3

# for i in range(length):
#     for j in range(i+1, length):
#         features = [feature_columns[i], feature_columns[j]]
#         features.append('y')
#         title = f"{feature_columns[i]} and {feature_columns[j]}"
#         g = sns.pairplot(df_train[features], hue='y')
#         g.fig.suptitle(title)
#         plt.show

## 模型训练与评估

In [40]:
from sklearn.metrics import classification_report

### 多元逻辑回归

In [41]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# 尝试直接进行多元逻辑回归，观察效果
LR_model = LogisticRegression(random_state=42)

LR_model.fit(X_train_imputed, y_train)

# 评估拟合效果
y_train_pred = LR_model.predict(X_train_imputed)
y_test_pred = LR_model.predict(X_test_imputed)

report = classification_report(y_train, y_train_pred)

d:\Apps\Anaconda\conda\envs\regressionAnalysis\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 生成csv结果文件

In [ ]:
id = 
solution =