In [1]:
from dataProcessing import DataProcessing
from dataProcessing import createSolution
from drawFigures import DrawFigures
from models import Models

## 数据处理

In [2]:
dp = DataProcessing()

# 读取数据
# result = dp.readData('train.csv', 'test.csv')
# print(result)
X_train, y_train, X_test, df_train = dp.readData('train.csv', 'test.csv')
df_train.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X37,X38,X39,X40,X41,X42,X43,X44,X45,y
0,3.8,141,104,4.9,6.0,65,5.6,6.07,7.94,6.5,...,330,12.6,236,9.4,0.22,16.1,21.5,NaN,NaN,0
1,3.7,142,107,5.0,6.0,80,6.1,6.56,8.63,38.6,...,333,12.1,165,12.2,0.20,16.7,41.2,0.0,0.0,0
2,4.6,147,106,4.8,6.0,64,7.1,1.19,7.94,6.9,...,328,12.5,183,8.8,0.16,15.8,27.4,0.0,0.0,0
3,3.5,147,107,5.2,6.0,56,3.6,1.43,4.97,9.7,...,328,12.7,191,10.2,0.19,11.2,26.2,NaN,NaN,0
4,4.3,139,105,5.7,6.0,55,4.2,2.10,4.04,10.0,...,321,12.0,215,10.8,0.23,12.9,31.3,1.0,1.0,1

In [65]:
# 对X44，X45进行KNN插值
X_train, X_test = dp.impute_KNN(X_train, X_test, n_neighbors=5)
# 对数值型变量进行标准化
X_train, X_test = dp.standardization(X_train, X_test)

TypeError: cannot unpack non-iterable NoneType object

## 作图

## 模型训练

## 生成结果